# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.pytest_cache/

# Data
data/
*.csv
!transform/seeds/*.csv
*.gz
*.parquet

# Entorno
.env
*.env

# VS Code
.vscode/

# dbt
transform/target/
transform/dbt_packages/
transform/logs/
transform/metastore_db/
transform/spark-warehouse/

# Spark
spark-warehouse/
pipelines/spark-warehouse/
derby.log
logs/
metastore_db/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl